apiVersion: apisix.apache.org/v2
kind: ApisixPluginConfig
metadata:
  name: oidc-auth
  namespace: puchi-dev
spec:
  plugins:
    - name: cors
      enable: true
      config:
        allow_origins_by_regex:
          - ".*puchi.io.vn"
        allow_headers:
          - Authorization
          - Content-Type
        allow_methods:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
          - OPTIONS
        allow_credential: true
        max_age: 3600
    - name: openid-connect
      enable: true
      config:
        bearer_only: true
        discovery: https://auth.puchi.io.vn/.well-known/openid-configuration
        realm: puchi
        scope:
          - openid
          - email
          - profile
        timeout: 3000
        introspection_endpoint_auth_method: client_secret_post
