apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - secret.yaml
  - configmap.yaml

commonLabels:
  app.kubernetes.io/name: cloudflared
  app.kubernetes.io/part-of: puchi-platform
